h1{
    text-align: center;
    font-size: 80px;
    color: white;
}
body{
    background-color: rgba(24, 58, 74, 1);
}

.number{
    height: 150px;
    width: 150px;
    background-color: red;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right:40px ;
    margin-bottom: 40px;
    border-radius: 10px;
}


.numbers{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 80%;
    margin: auto;
    
}
.fizz{
     background-color: rgba(97, 210, 164, 1);
     color: black;
     font-size: 30px;

}
.buzz{
    background-color: rgba(249, 210, 119, 1);
    color: black;
    font-size: 30px;

}

.fizzbuzz{
    background-color:rgba(222, 84, 113, 1) ;
    color: black;
    font-size: 30px;
}
.normal{
    background-color:rgba(61, 136, 174, 1) ;
    color: black;
    font-size: 30px;
}