h1{
    text-align: center;
    font-size: 80px;
    color: white;
}
body{
    background-color: rgba(24, 58, 74, 1);
}

.number{
    height: 150px;
    width: 150px;
    background-color: red;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right:40px ;
    margin-bottom: 40px;
}


.numbers{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 80%;
    margin: auto;
    
}